html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --box-shadow: 0 3px 1px -2px rgb(0 0 0 / 16%), 0 2px 2px 0 rgb(0 0 0 / 11%), 0 1px 5px 0 rgb(0 0 0 / 10%);
}

#top-nav {
    background: #14C38E;
    color: white;
    padding: max(2vw, 10px);
    font-size: max(2vw, 20px);
    box-shadow: var(--box-shadow);
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#container {
    margin-top: max(3vw, 20px);
    gap: max(3vw, 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#status {
    font-size: max(3vw, 20px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    margin: 0px auto;
    box-shadow: var(--box-shadow);
}

#board > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #14C38E;
    font-size: max(5vw, 50px);
    aspect-ratio: 1/1;
}

#board > div:hover {
    cursor: pointer;
    background: #14C38E;
    color: white;
    box-shadow: var(--box-shadow);
}

