html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --box-shadow: 0 3px 1px -2px rgb(0 0 0 / 16%), 0 2px 2px 0 rgb(0 0 0 / 11%), 0 1px 5px 0 rgb(0 0 0 / 10%);
}

#top-nav {
    background: #14C38E;
    color: white;
    padding: max(2vw, 10px);
    font-size: max(2vw, 20px);
    box-shadow: var(--box-shadow);
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#container {
    margin-top: max(3vw, 20px);
    gap: max(3vw, 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#status {
    font-size: max(3vw, 20px);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center; 
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    height: 400px;
    margin: 0px auto;
    box-shadow: var(--box-shadow);
}

#board > div {
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #14C38E;
    font-size: max(5vw, 50px);
    aspect-ratio: 1/1;
    font-weight: bold;
}

#board > div:hover {
    cursor: pointer;
    background: #14C38E;
    color: white;
    box-shadow: var(--box-shadow);
}

#reset{
    border: #14C38E 2px solid;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: max(2vw, 20px);
    background: none;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

#reset:hover {
    transform: translateY(-1px);
    background: #14C38E;
    color: white;
}

footer {
    display: flex;
    margin-top: 10vw;
    justify-content: center;
    align-items: center;
}

footer > a:link, footer > a:visited {
    text-decoration: none;
    color: black;
}

footer > a > div {
    background: white;
    opacity: 95%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: var(--box-shadow);
}

footer> a >div:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.113); 
    animation: rotate2 1s ease-in-out;
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(359deg);
    }
}

@keyframes marquee {
    0% {
    transform: translateX(100%);
    }
    100% {
    transform: translateX(-100%);
    }
}

@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

@media screen and (max-width: 400px) {
    #board{
        width: 80vw;
        height: 80vw;
    }
}
    
@media screen and (max-width: 250px) {
    #top-nav {
        font-size: 7vw;
    }
}
    